@{
    var unsoldReasons = ViewBag.UnsoldReasons;
}
<br/>
<div class="row">
    <section class="col-sm-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <select class="selectpicker form-control" title="Select reason customer did not buy services..." data-header="Select an unsold reason">
                        @foreach(var reason in unsoldReasons)
                        {
                            <option value="@reason.Id.ToString()">@reason.Text</option>
                        }
                        <option data-divider="true"></option>
                        <option data-icon="glyphicon-credit-card">Take Payment</option>

                    </select>
                </div>
            </div>
        </div>
    </section>
</div>