body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
li.dropdown-header {
    padding: 8px 14px;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    color: #3276b1;
}
.dropdown-menu .divider {
    margin: 0;
}
.dropdown-menu {
    padding: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #fff;
}